{% import "partials/language.html" as lang %}
<div class="md-search" data-md-component="search" role="dialog">
  <label class="md-search__overlay" for="search"></label>
  <div class="md-search__inner">
    <form class="md-search__form" name="search">
      <input id="search_input" type="text" class="md-search__input" name="query" required placeholder="{{ lang.t('search.placeholder') }}"
             autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
      <label class="md-icon md-search__icon" for="search"></label>
      <button type="reset" class="md-icon md-search__icon" data-md-component="reset">close</button>

      <input type="hidden" data-md-component="query" />
    </form>
  </div>
</div>
